@use "/src/sass/globals.scss" as *;

.menuBg {
    position: fixed;
    top: 0;
    z-index: 8;

    width: 100%;
    height: 100vh;

    background-color: $menu-color;
}
.menuContainer {
    background-color: $brand-1-color;

    width: 80%;
    height: 100%;

    > div {
        display: flex;
        flex-direction: column;
        gap: 15px;

        padding: 120px 20px;

        > a {
            @include titleBasic();

            text-decoration: none;
        }
        > nav > button {
            @include textBasic(
                $menu-options-logged-size,
                $bold-weight,
                $white-color
            );
        }
    }

    > button {
        position: absolute;
        right: 25%;
    }
}
.divLogo {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 25%;

    @media (min-width: 769px) {
        display: none;
    }
}
