@import "../../../sass/style.scss";

.label {
    font-size: $label-1-mobile;
    font-weight: $semi-bold;

    padding-left: 5px;

    @media (min-width: 769px) {
        font-size: $label-1-destkop;
    }
}
