@import "../../../sass/style.scss";

.button-common {
    width: 100%;
    max-width: 370px;

    border-radius: $radius-button;
    color: $white-color;
    padding: 10px 0;
}

.purple-btn {
    background-color: $brand-3-color;
}

.blue-btn {
    background-color: $brand-1-color;
}
