.form-add-contacts {
    max-width: 1240px;
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 24px;

    > div > div {
        width: 100%;
        max-width: 350px;
    }

    > button {
        max-height: 38px;
        width: 100%;
        max-width: 350px;
    }
}

.inputs-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 769px) {
        flex-wrap: wrap;
        flex-direction: row;
    }
}
