// Colors
$brand-1-color: #5d6945;
$brand-2-color: #4c553a;
$brand-3-color: #94a07c;

$background-color: rgba(30, 30, 30, 0.4);
$text-color: #cfd6e0;
$border-color: #cfd6e0;
$placeholder-color: rgba(207, 214, 224, 0.5);
$nav-color: rgba(217, 217, 217, 0.05);
$menu-color: rgba(0, 0, 0, 0.4);

$grey-dark: #222222;
$grey-medium: #909090;
$grey-light: #d1d1d1;

$white-color: #ffffff;
$red-color: #ff3c3c;

// Typography
$button-size: 1.25rem;
$label-size: 0.9375rem;
$placeholder-size: 1.25rem;

$title-1-mobile: 2.1875rem;
$title-1-desktop: 3.125rem;

$text-home-mobile-size: 0.875rem;
$text-home-desktop-size: 1.5625rem;

$header-btns-size: 1.5625rem;

// Weights
$bold-weight: 700;
$semi-bold-weight: 600;
$medium-weight: 500;
$regular-weight: 400;
$light-weight: 300;

// Radius
$radius-form: 5px;
$radius-button: 5px;
