$brand-1-color: #7895cb;
$brand-2-color: #9db2bf;
$brand-3-color: #4a55a2;

$background-color: #c5dff8;
$white-color: #ffffff;
$black-color: #000000;

$placeholder-color: #716666;
$input-color: #dde6ed;
$error-color: #db3131;
$bg-modal-color: rgba(0, 0, 0, 0.6);

$edit-contact-color: #00cd15;
$delete-contact-color: #f00;
