@import "../../sass/style.scss";

.form-group {
    background-color: $brand-2-color;

    width: 80%;
    max-width: 400px;

    padding: 25px 12px;

    border-radius: $radius-form;
}

.subtitle {
    font-size: $title-2-mobile;
    font-weight: 600;
    padding-left: 5px;

    @media (min-width: 769px) {
        font-size: $title-2-desktop;
    }
}
.form-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.error-msg {
    margin-top: 5px;
    padding-left: 5px;
    font-size: $error-size;
    font-style: italic;
    color: $error-color;
}
.form-btns {
    width: 100%;
    margin-top: 20px;
}
.form-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-btns {
        margin-top: 0;
    }
}
